<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <script defer src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <header>
        <h1>Lyrics Quiz</h1>
        <a href="/">Home</a>
        <a id="revealAnswers">Reveal Answers</a>
    </header>
    <main>
        <div id="round-details">
            <div id="timer">00:00</div>
            <div id="complete">Mission Complete!</div>
            <div id="failure">Mission Failed<br><br>
                <button id="try-again">Try Again?</button>
            </div>
        </div>
        <input type="text" id="lyrics-input" placeholder="Type the missing lyric">
        <table id="lyrics-table">
            <tr>
                {% for word in word_list %}
                    <td data-word="{{ word }}"></td>
                    {% if loop.index % 10 == 0 %}</tr><tr>{% endif %}
                {% endfor %}
            </tr>
        </table>
    </main>
    <script src="script.js"></script>
</body>
</html>